[Unit]
Description=Quokspie GPU Monitor Service
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/bin/quokspie
Restart=always
User=root

[Install]
WantedBy=multi-user.target
