Package: quokspie
Version: 0.1
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: Quoka Waka Flame 
Description: Quokspie GPU Monitor Daemon
 A daemon that monitors GPU metrics and runs in the background.
