[Unit]
Description=Quakspie GPU Monitor Service
After=network.target

[Service]
ExecStart=/usr/local/bin/quakspie
Restart=always
User=root

[Install]
WantedBy=multi-user.target